:root {
  --white: white;
  --black: black;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  color: #333;
  background-color: #000;
  font-family: Madani Arabic, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.browser_header {
  color: rgba(255, 255, 255, .54);
  text-align: center;
  letter-spacing: -.2px;
  text-shadow: 0 0 2px rgba(0, 0, 0, .75);
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  display: none;
}

.browser-warning {
  min-height: 100vh;
  min-width: 100%;
  box-shadow: none;
  background-color: rgba(22, 22, 22, 0);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.logo {
  width: 40px;
  border-radius: 3px;
  margin-left: 10px;
}

.logo.ogixinal {
  width: 99px;
  filter: grayscale() invert();
  margin-bottom: 16px;
  margin-right: 16px;
  display: none;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.browser_link {
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  transition: background-color .2s cubic-bezier(.455, .03, .515, .955);
  display: flex;
}

.browser_link:hover {
  background-color: #131313;
}

.browser-detect {
  z-index: 2222;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.courtesy-block {
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block {
  color: #b6b6b6;
  font-size: 14px;
  display: none;
}

.browser_details {
  height: 50px;
  max-width: 166px;
  color: rgba(158, 122, 153, 0);
  text-align: center;
  letter-spacing: -.2px;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.browser_details.apodruh {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #f0d;
  -webkit-text-stroke-color: #f0d;
  text-shadow: none;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  display: none;
}

.browser_details.navxxx {
  width: 50px;
  background-color: rgba(255, 0, 221, 0);
  border: 2px solid rgba(255, 0, 221, 0);
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-right: 10px;
  padding-top: 2px;
  transition: all .2s;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.link_span {
  opacity: 0;
  filter: hue-rotate(275deg);
  color: #000;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  line-height: 1;
  display: none;
}

.nav-2 {
  height: 100px;
  box-shadow: none;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background-color: #000;
  border-bottom: 1px #e600ff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  position: relative;
}

.muzesvybret {
  z-index: 888;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.jaksecakaxdddd {
  width: 144px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.tenheaderteda {
  width: 100%;
  min-height: 111px;
  min-width: 111px;
  opacity: 1;
  filter: grayscale();
  background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(255, 255, 255, 0)), linear-gradient(rgba(0, 0, 0, .69), rgba(0, 0, 0, .69));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.gothblr {
  font-family: Madani Arabic, sans-serif;
}

.tradesystm {
  width: 100%;
  height: 240px;
  max-width: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/chursed-2.gif');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  border-radius: 7px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 21px;
  padding-right: 21px;
  display: flex;
}

.div-block-5 {
  width: 100%;
  max-width: 300px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.button {
  filter: none;
  color: #000;
  text-align: center;
  background-color: #00ffe6;
  border-radius: 6px;
  margin-bottom: 25px;
  padding: 23.61px 33.71px;
  transition: padding .3s;
  position: relative;
  overflow: hidden;
}

.text_4-5 {
  height: 30px;
  color: rgba(255, 255, 255, .53);
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
  padding-right: 30px;
  font-size: 4.5rem;
  font-weight: 700;
  display: flex;
}

.maintext {
  font-size: 16px;
  font-weight: 700;
}

.maintext.mmmmm {
  filter: saturate(200%) brightness(57%) invert() hue-rotate(72deg);
  margin-top: -10px;
  position: absolute;
}

.delnikxdddkakkk {
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.modal-top {
  z-index: 1666;
  width: 100%;
  max-width: 50%;
  min-height: 100px;
  opacity: 0;
  border-bottom-width: 2px;
  border-bottom-color: #2c2c2c;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  overflow: scroll;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
}

.handwritten-text {
  color: #979797;
  letter-spacing: -.5px;
  font-size: 2.2rem;
  line-height: 1.2em;
}

.whitecircle {
  width: 140px;
  height: 140px;
  background-color: #fff;
  border-radius: 50%;
  flex: 0 auto;
  position: absolute;
  top: -86%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.button-3 {
  width: 140px;
  height: auto;
  color: #222;
  background-color: #222;
  border: 1px #222;
  border-radius: 140px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-3.playanimation {
  width: 200px;
  height: 66px;
  color: #e600ff;
  background-color: rgba(34, 34, 34, 0);
  border-style: solid;
  border-color: #f0d;
  border-radius: 16px;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  box-shadow: 0 1px #00ffc8;
}

.button-3.playanimation.formvibes {
  width: 100%;
  height: 100px;
  max-width: 300px;
  min-height: 100px;
  min-width: 300px;
  opacity: 1;
  color: #8d8d8d;
  text-align: right;
  border-width: 2px;
  border-color: #141414;
  margin-top: -231px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 84px;
  box-shadow: 0 -2px 0 -1px #fb00ff, 0 1px #00ffc8;
}

.button-3.playanimation.formvibes.vicccc {
  height: 66px;
  max-width: none;
  min-height: 66px;
  min-width: auto;
  opacity: 1;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 6px;
  padding: 0 16px;
  overflow: visible;
  box-shadow: 0 0 0 2px rgba(61, 148, 129, 0), 0 0 0 3px rgba(251, 0, 255, 0);
}

.button-3.playanimation.formvibes.vicccc.yooo {
  width: 66px;
  height: 44.4px;
  min-height: 44.4px;
  box-shadow: none;
  border-color: rgba(20, 20, 20, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.button-3.playanimation.formvibes.vicccc.yooo.uplx {
  margin-top: 10px;
}

.button-3.playanimation.formvibes.vicccc.yooo {
  box-shadow: none;
  border-color: rgba(20, 20, 20, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.button-3.playanimation.formvibes.vicccc {
  height: 66px;
  min-height: 66px;
  min-width: 66px;
  opacity: 1;
  text-align: center;
  border-color: #a5ffe7;
  border-radius: 14px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 11px;
  font-weight: 800;
  transition: all .222s;
  box-shadow: 0 0 0 1px #00ffc8, 0 0 0 2px #fb00ff;
}

.button-3.playanimation.formvibes.vicccc:hover {
  border-color: rgba(0, 0, 0, 0);
}

.button-3.playanimation.formvibes.vicccc.inputform {
  border: 1px solid #0fb;
  border-radius: 22.2px;
  box-shadow: 0 0 0 1px #e0f, 0 0 4px 2px #000;
}

.button-3.playanimation.formvibes.vicccc.inputform:hover {
  box-shadow: none;
}

.faq-hidden-text-3 {
  max-width: 750px;
  color: #9b9b9c;
  font-size: 11px;
  display: flex;
}

.faq-hidden-text-4 {
  max-width: 750px;
  color: #9b9b9c;
  font-size: 11px;
  display: block;
}

.faq-content-wrapper {
  display: flex;
}

.faq-button-accordion {
  width: 32px;
  height: 32px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.accordion-item_component {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(23, 23, 23, 0);
  border: 1px #87888a;
  border-radius: 13px;
  justify-content: center;
  align-items: flex-start;
  padding: 2.65rem 0;
  display: flex;
  overflow: visible;
}

.accordion-item_component.hidden {
  display: none;
}

.faq-text-wrapper_component {
  grid-row-gap: 1rem;
  flex-direction: column;
  display: flex;
}

.faq-hidden-text-5 {
  max-width: 750px;
  color: #9b9b9c;
  font-size: 11px;
  display: block;
}

.faq-question-text {
  color: #d7dada;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.accordions-holder {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 1.2rem;
  opacity: .66;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.cta {
  z-index: 2000;
  max-width: 300px;
  color: #000;
  letter-spacing: .06em;
  text-transform: uppercase;
  background-color: #e500ff;
  border: 1px solid #e500ff;
  border-radius: 4.5px;
  justify-content: space-between;
  align-self: end;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 30px;
  font-size: 12px;
  font-weight: 900;
  text-decoration: none;
  transition: all .2s;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 10px;
  left: 0%;
  right: 0%;
}

.cta:hover {
  color: #e500ff;
  background-color: #000;
}

.cta.onnavvv {
  height: 40px;
  max-height: 40px;
  text-align: center;
  border-color: #e100ff;
  margin-top: 30px;
  margin-right: 30px;
  padding: 2px 25px 0;
  font-size: 10px;
  font-weight: 900;
  display: none;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.cta.onnavvv:hover {
  color: #e500ff;
  background-color: rgba(255, 0, 0, 0);
}

.cta.onnavvv {
  height: 40px;
  max-height: 40px;
  color: #666;
  text-align: center;
  background-color: rgba(229, 0, 255, 0);
  margin-top: 30px;
  margin-right: 30px;
  padding: 2px 25px 0;
  font-size: 10px;
  font-weight: 900;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
  box-shadow: 0 0 0 1px #00ffd0;
}

.cta.onnavvv:hover {
  color: #e500ff;
  background-color: rgba(255, 0, 0, 0);
}

.flex {
  display: flex;
}

.flex.align_center {
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.tydollareign {
  color: #fff;
  margin-right: 5px;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.5px;
}

.number {
  color: #fff;
  letter-spacing: 4px;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  font-size: 22px;
  font-weight: 900;
  line-height: 25.5px;
  display: flex;
}

.text_1-5 {
  color: #00ffd0;
  font-size: 8.8px;
}

.text_2-2 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}

.applythis {
  width: 42px;
  height: 42px;
  opacity: 0;
  background-color: rgba(48, 48, 48, .8);
  background-image: url('../images/icons8-check-48_1icons8-check-48.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 13px;
  border-radius: 14px;
  transition: all .235s;
  position: absolute;
}

.applythis:hover {
  opacity: 1;
}

.pricingblock {
  flex-direction: column;
  display: none;
}

.button-secondary {
  color: #262626;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #575757;
  border-radius: 10px;
  padding: 18px 34px;
  font-weight: 500;
  transition: all .2s;
}

.button-secondary:hover {
  color: #fff;
  background-color: #7e60ff;
  border-color: #8057ff;
  transform: translate(0, -1px);
  box-shadow: 0 6px 24px rgba(122, 104, 255, .5);
}

.button-group {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  display: none;
}

.nazeeev {
  color: #fdc3ff;
  text-shadow: -1px 0 #75fff8, 1px 0 #ff00d9;
  margin-top: 0;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 33px;
  font-weight: 800;
  line-height: 20px;
}

.poznodatek {
  color: silver;
  letter-spacing: .6px;
  flex-direction: column;
  align-items: center;
  font-size: 12.2px;
  font-weight: 800;
  display: flex;
  position: relative;
}

.hero-image-wrapper {
  max-width: 444px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.button-primary {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #7a68ff;
  border: 1px solid #7e60ff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 18px 34px;
  font-weight: 500;
  text-decoration: none;
  transition: all .2s cubic-bezier(.25, .46, .45, .94);
  display: flex;
  box-shadow: 0 6px 42px rgba(122, 104, 255, .5);
}

.button-primary:hover {
  top: -1px;
  transform: translate(0, -1px);
  box-shadow: 0 6px 24px rgba(122, 104, 255, .5);
}

.etheminess {
  height: 30px;
  min-height: 30px;
  filter: invert() grayscale();
  font-size: 18px;
  display: none;
}

.form-block-3 {
  width: 100%;
  max-width: 333px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.form-3 {
  flex-direction: column;
  align-items: center;
  margin-top: 12.5px;
  display: flex;
  position: relative;
}

.label {
  color: #696969;
  margin-bottom: 16px;
  font-size: 16.6px;
  font-weight: 600;
}

.button-4 {
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 1px solid #000;
  padding: .75rem 1.5rem;
}

.button-4.is-secondary {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
}

.button-4.is-secondary.is-alternate {
  width: 66px;
  height: 44.4px;
  min-height: 44.4px;
  opacity: .5;
  color: rgba(255, 255, 255, .73);
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../images/icons8-upload-96_1icons8-upload-96.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  border: 1px #1d1d1d;
  border-radius: 333px;
  justify-content: center;
  align-items: center;
  padding: 0 .6rem;
  font-size: 13px;
  font-weight: 900;
  line-height: 11px;
  transition: all .333s;
  display: flex;
}

.button-4.is-secondary.is-alternate:hover {
  opacity: .67;
}

.section {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section._1 {
  justify-content: flex-start;
}

.dropdown-link {
  z-index: 30;
  min-height: 100vh;
  text-align: center;
  -webkit-text-stroke-color: #0f0f0f;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  transition: all .2s;
  display: flex;
  position: relative;
}

.dropdown-link:hover {
  box-shadow: none;
  color: #7839f3;
  transform: none;
}

.dropdown-wrapper {
  width: 100%;
  min-width: 100%;
  overflow: scroll;
}

.dropdown-wrapper.w--open {
  max-height: 100vh;
  min-width: 300px;
  background-color: #fff;
  border-radius: 15px;
  left: -97px;
  box-shadow: 0 50px 25px -50px rgba(32, 53, 90, .15), 8px 18px 60px 4px rgba(0, 0, 0, .13);
}

.dropdown {
  flex-direction: column;
  align-items: center;
  margin-top: 318px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.dropdown-pointer {
  z-index: 666;
  width: 100%;
  max-width: 100%;
  opacity: 1;
  filter: none;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav-link-details {
  color: rgba(114, 114, 114, .6);
  white-space: normal;
  font-size: 14px;
}

.dropdown-title {
  margin-bottom: 2px;
  font-size: 15px;
}

.dropdown-title:hover {
  color: #283338;
}

.dropdown-title.colour-1 {
  color: #fdc3ff;
  display: none;
}

.nav-content-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 155px;
  display: none;
}

.icon-square {
  width: 144px;
  height: 144px;
  background-color: #000;
  background-image: url('../images/Snímek-obrazovky-2023-08-22-v-13.10.55.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 14px;
  display: flex;
}

.forminputframe {
  width: 100%;
  max-height: 66px;
  min-height: 66px;
  border: 1px solid rgba(0, 255, 200, 0);
  border-radius: 22.2px;
  align-items: center;
  margin-right: 10px;
  display: flex;
  box-shadow: 0 0 0 1px #fb00ff;
}

.popup-container {
  z-index: 999;
  width: 288px;
  background-color: rgba(32, 32, 36, 0);
  border-radius: 22px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  display: none;
  position: relative;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.multi-step-form-radio-trigger---brix {
  color: #dfdce4;
  border: 1px solid #44444b;
  border-radius: .5em;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding-left: 66px;
  padding-right: 32px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  transition: border-width .2s, border-color .2s;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 0 2px 6px 2px rgba(19, 18, 66, .07);
}

.multi-step-form-radio-trigger---brix:hover {
  border-color: #bfbaff;
}

.settings-label-sub {
  color: #868686;
  font-size: .85em;
  font-weight: 400;
  display: none;
}

.settings-label-sub.anmxce {
  color: rgba(255, 255, 255, .47);
  margin-top: 0;
  font-size: .66em;
  font-weight: 800;
  display: none;
}

.checkbox-click {
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.checkbox-click.w--redirected-checked {
  margin-top: 0;
  margin-left: 0;
}

.checkbox-button {
  color: #868686;
  border-radius: 50px;
  margin-bottom: 0;
  padding-left: 0;
  font-weight: 400;
  line-height: 2em;
  display: none;
  position: relative;
  overflow: hidden;
}

.settting-header {
  z-index: 10;
  width: 100%;
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0);
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.hide {
  display: none;
}

.toast-wrapper {
  z-index: 666;
  max-width: 888px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 118px auto 33px;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.profile_label {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 17px;
  padding-right: 17px;
  font-weight: 700;
  line-height: 1.2em;
  display: flex;
}

.checkbox-option {
  z-index: 2;
  background-color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  display: block;
  position: relative;
  box-shadow: 0 0 5px #868686;
}

.checkbox-option.off {
  z-index: 1;
  color: #000;
  background-color: #ffb3f7;
  border: 1px solid rgba(134, 134, 134, .5);
  border-left-style: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-right: 1.5em;
}

.checkbox-option.on {
  color: #f0d;
  background-color: #000;
  border: 1px solid rgba(134, 134, 134, .5);
  border-right-style: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 1.5em;
}

.save-button {
  color: #fff;
  background-color: #333;
  border-radius: 50px;
  padding: 1em 1.5em .9em;
  text-decoration: none;
}

.save-button.ix {
  margin-top: 25px;
  display: flex;
}

.profile_row {
  border-top: 1px solid rgba(134, 134, 134, .2);
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  padding-left: 20.2px;
  display: none;
}

.profile_row.jakyhomas {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(134, 134, 134, 0);
  border-radius: 8px;
  flex-direction: column;
  margin-top: 0;
  padding: 10px 0 0;
  display: flex;
  position: relative;
  top: auto;
  left: 0%;
  right: 0%;
}

.appial {
  color: #a1ffeb;
  display: none;
}

.mainmiddlebox {
  z-index: 3333;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.moresbenzemog {
  width: 100%;
  height: 444px;
  max-width: 444px;
  min-height: 350px;
  filter: grayscale();
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  border: 1px rgba(133, 133, 133, .29);
  border-radius: 12.5px;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.form-block-4 {
  margin-bottom: 0;
  display: none;
}

.animaaatreex {
  width: 100%;
  max-width: 666px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  bottom: 0%;
  right: 0%;
}

.text-block-10 {
  display: none;
}

.jobudetotohlevtypize {
  z-index: 4444;
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 33px;
  padding-right: 33px;
  display: flex;
  position: relative;
  top: 0%;
  right: 0%;
}

.chcibytangi {
  width: 100%;
  min-width: 100%;
  justify-content: center;
  margin-bottom: 60px;
  display: flex;
}

.blissalepamatujunazacatkyvhmbrt {
  opacity: .66;
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  line-height: 22.2px;
}

.blissalepamatujunazacatkyvhmbrt.main {
  display: none;
}

.zrer {
  width: 100%;
  justify-content: center;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.fontoutcome {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 -1px #aeff00, 0 1px #b700ff;
  margin-top: 4px;
  margin-bottom: 0;
  font-family: Madani Arabic, sans-serif;
  font-size: 15.8px;
  font-weight: 500;
  line-height: 19px;
  display: flex;
}

.fontoutcome:hover {
  color: #fff;
}

.uploadthatjiamoji {
  width: 166px;
  height: 166px;
  background-image: url('../images/bring-the-fert-up.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15.5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.popup-container-2 {
  z-index: 110;
  width: 100%;
  background-color: rgba(32, 32, 36, 0);
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.start-wrapper-2 {
  min-height: 101px;
  min-width: 100%;
  box-shadow: none;
  border: 2px dashed #868686;
  border-radius: 12.2px;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: relative;
  bottom: auto;
  left: 0;
  right: 0;
}

.storace-2 {
  width: 100%;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.image-7 {
  display: none;
}

.gifoutcome {
  max-width: 77px;
  border-radius: 13.3px;
  display: none;
}

.surpriseodni {
  opacity: .25;
  color: silver;
  letter-spacing: .25px;
  text-decoration: none;
}

.packtheseraws {
  width: 100px;
  height: 66px;
  min-width: 100px;
  opacity: .69;
  background-image: url('../images/Midimize.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .2s;
}

.packtheseraws:hover {
  opacity: .96;
}

.faqblock {
  justify-content: center;
  display: none;
}

.button-2 {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 23px 21px 23px 23px;
  display: inline-block;
}

.button-2.cc-gradient-pulm-copy {
  background-image: linear-gradient(#667eea, #667eea 0%, #764ba2);
  transition: transform .2s, background-color .3s;
}

.button-2.cc-gradient-pulm-copy:hover {
  background-image: linear-gradient(#667eea, #764ba2);
}

.button-2.cc-gradient-pulm-copy.radius {
  width: 100%;
  max-height: 100px;
  min-height: 66px;
  color: #000;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  border: 1px solid #b3ff00;
  border-radius: 12.2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 0;
  font-size: 14.6px;
  line-height: 14px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
  position: relative;
  box-shadow: 0 0 12px 1px rgba(185, 8, 255, .62), 0 0 0 1px rgba(153, 0, 255, .77);
}

.button-2.cc-gradient-pulm-copy.radius:active {
  border-color: rgba(255, 255, 255, 0);
}

.uploadedfilename {
  opacity: 1;
  color: #969696;
  text-align: center;
  font-size: 17.7px;
  font-weight: 900;
  line-height: 17px;
}

.sigmaogbg {
  z-index: -555;
  height: 100vh;
  opacity: 1;
  filter: grayscale() saturate(200%) saturate(200%);
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.uploadedsigmaplaylist {
  z-index: 222;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.moresbenzemunl {
  z-index: -1;
  opacity: .6;
  background-color: rgba(0, 0, 0, .5);
  background-image: url('../images/grsc2.gif');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 12.2px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 0 0 11px 1px #000;
}

.herewegoo {
  width: 100%;
  height: 33px;
  min-height: 77px;
  min-width: 133px;
  box-shadow: none;
  opacity: 1;
  border: 1px #cfcfcf;
  border-radius: 12.2px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.herewegoo:active {
  border-color: #00ffbf;
  box-shadow: 0 0 0 1px #ff00e5;
}

.resplashbtn {
  z-index: 444;
  width: 66px;
  height: 66px;
  background-image: url('../images/play-1.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border: 1px solid #00ffbf;
  border-radius: 333px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: absolute;
  bottom: -31.5px;
  box-shadow: 0 0 0 1px #ff00d9;
}

.resplashbtn.aftxr {
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  bottom: -33.5px;
  left: 0%;
  right: 0%;
}

.fontmelody {
  z-index: 4444;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.generating {
  width: 66px;
  height: 66px;
  min-height: 30px;
  min-width: 30px;
  opacity: 0;
  background-image: url('../images/ezgif.com-gif-maker-3.gif');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 35px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 7px;
  margin-right: auto;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.playing {
  width: 100%;
  min-height: 77px;
  background-image: url('../images/icons8-download-64-4.png');
  background-position: 6%;
  background-repeat: no-repeat;
  background-size: 35px;
  border: 1px #929292;
  border-radius: 12.2px;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  display: flex;
}

.playing:hover {
  border-color: rgba(146, 146, 146, 0);
  box-shadow: 0 0 0 1px #aeff00, 0 0 0 2px #b700ff;
}

.packgrid {
  width: 100%;
  min-height: 125px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  border: 1px #000;
  border-radius: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: start;
  padding-left: 0;
  padding-right: 0;
  display: grid;
  overflow: hidden;
}

.packsshowcase {
  max-width: 111px;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: absolute;
  top: 60px;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.packgridshadow {
  width: 100%;
  min-height: 125px;
  background-color: #000;
  background-image: linear-gradient(rgba(19, 19, 19, .5), rgba(19, 19, 19, .5)), url('../images/uploadnailify.gif');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.dosvetleni {
  filter: hue-rotate(21deg);
  letter-spacing: .7px;
  font-size: 16.6px;
  font-weight: 500;
  line-height: 11px;
}

.framefxgoost {
  min-height: 125px;
  min-width: 125px;
  transform-style: preserve-3d;
  border: 1px solid #b700ff;
  border-radius: 16px;
  display: none;
  transform: scale(.9)rotateX(52deg)rotateY(0)rotateZ(0);
  box-shadow: 0 0 0 1px #aeff00;
}

.sixletx {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navnextbtnext {
  width: 150px;
  height: 50px;
  color: #c2c2c2;
  text-align: center;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  background-color: rgba(56, 152, 236, 0);
  border: 1px solid #b700ff;
  border-radius: 6.6px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-right: 25px;
  padding-top: 11.5px;
  font-family: Madani Arabic, sans-serif;
  font-size: 11.4px;
  font-weight: 800;
  line-height: 15px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  box-shadow: 0 0 0 1px #aeff00;
}

.tinyicon {
  z-index: 33;
  width: 37px;
  height: 37px;
  filter: brightness(38%) grayscale();
  background-image: url('../images/E55D5C93-9229-4B41-BCF8-AF4F7E881146.png');
  background-position: 50%;
  background-size: cover;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: none;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.artwrk {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.inputxoutput {
  width: 100%;
  max-width: 333px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 16.6px;
  display: flex;
}

.sound-name {
  color: #cacaca;
  justify-content: space-between;
}

.textoutputblock {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  display: flex;
}

.middledemo {
  width: 100%;
  min-height: 55px;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
  margin-right: 7px;
  display: flex;
}

.editorupload {
  z-index: -1;
  width: 155px;
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  margin-top: 3.33px;
  position: absolute;
}

.dlzip {
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: #fff;
  letter-spacing: 2px;
  background-color: rgba(41, 41, 41, 0);
  background-image: url('../images/icons8-upload-64.png');
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: 33px;
  border: 1px solid rgba(71, 71, 71, 0);
  border-radius: 16px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 12.2px 20px;
  font-size: 10px;
  font-weight: 900;
  line-height: 13px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
  position: absolute;
}

.dlzip:hover {
  border-color: #474747;
  cursor: pointer;
}

#file-input {
  display: none;
}
.elixirmale {
  min-width: 50%;
}

.uvedenifunkce {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
}

.maclookinglogo {
  width: 88px;
  max-height: 88px;
  max-width: 88px;
  min-height: 88px;
  background-image: url('../images/midimizeappicon.png');
  background-position: 33%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6.6px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 30px;
  display: flex;
  transform: rotate(-6.6deg);
  box-shadow: 0 2px 5px rgba(255, 255, 255, .51);
}

.badge {
  width: 99px;
  height: 33px;
  min-width: 99px;
  background-image: url('../images/midimizelogovhs.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 25px;
  left: 5.5px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.mainbuttonblock {
  width: 100%;
  max-width: 333px;
}

.funneltypefy {
  z-index: 6666;
  width: 33px;
  height: 33px;
  background-image: url('../images/icons8-arrow-down-60.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: -94px auto -16px;
  position: relative;
}

@media screen and (max-width: 991px) {
  .browser-warning {
    flex-direction: column;
  }

  .html-embed {
    display: none;
  }

  .delnikxdddkakkk {
    margin-left: 0;
    margin-right: 0;
  }

  .button-3.playanimation {
    display: flex;
  }

  .button-3.playanimation.formvibes {
    color: #8d8d8d;
  }

  .accordion-item_component {
    grid-column-gap: 1rem;
  }

  .faq-text-wrapper_component {
    width: 90%;
  }

  .cta {
    align-self: end;
    padding-left: 32px;
    padding-right: 20px;
    display: flex;
  }

  .form-block-3 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .icon-square {
    width: 55px;
    height: 55px;
  }

  .forminputframe {
    max-width: 340px;
  }

  .multi-step-form-radio-trigger---brix {
    padding-left: 64px;
    padding-right: 24px;
    font-size: 16px;
  }

  .uploadedsigmaplaylist {
    z-index: 3333;
    width: 100px;
    height: 100px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .browser-warning {
    flex-direction: column;
    display: block;
  }

  .div-block-5 {
    flex-direction: column;
    align-items: center;
  }

  .delnikxdddkakkk {
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .modal-top {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .faq-content-wrapper {
    max-width: 300px;
  }

  .accordion-item_component {
    grid-column-gap: 1rem;
    padding-top: .9rem;
    padding-bottom: .9rem;
  }

  .faq-button-wrapper {
    width: 32px;
  }

  .cta.onnavvv {
    width: 100%;
    height: 66px;
    max-height: 66px;
    max-width: 122px;
    width: 100%;
    height: 66px;
    max-height: 66px;
    max-width: 122px;
    justify-content: center;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 16px;
  }

  .form-3 {
    width: auto;
  }

  .dropdown-link {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .popup-container {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .toast-wrapper {
    flex-direction: row;
  }
}

@media screen and (max-width: 479px) {
  .browser_header {
    font-size: 40px;
    line-height: 40px;
  }

  .browser-warning {
    min-height: auto;
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .browser-detect {
    z-index: 4444;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .nav-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .jaksecakaxdddd {
    width: 155px;
  }

  .tenheaderteda {
    justify-content: flex-start;
  }

  .tradesystm {
    height: 120px;
  }

  .delnikxdddkakkk {
    margin-bottom: 10px;
  }

  .button-3.playanimation.formvibes.vicccc.yooo {
    top: -4px;
  }

  .button-3.playanimation.formvibes.vicccc.yooo.uplx {
    width: auto;
    height: 44.4px;
    max-width: 44.4px;
    min-height: 44.4px;
    min-width: 44.4px;
    margin-top: 8px;
    top: -4px;
  }

  .button-3.playanimation.formvibes.vicccc.yooo {
    top: 0;
  }

  .button-3.playanimation.formvibes.vicccc {
    height: 53px;
    min-height: 53px;
  }

  .button-3.playanimation.formvibes.vicccc.inputform {
    height: 55.5px;
    min-height: 55.5px;
    min-width: 100%;
    border-radius: 12.2px;
  }

  .faq-button-accordion {
    width: auto;
  }

  .accordion-item_component {
    grid-column-gap: .2rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
  }

  .faq-button-wrapper {
    width: auto;
  }

  .faq-text-wrapper_component {
    max-width: 83%;
  }

  .cta {
    align-self: end;
  }

  .cta.onnavvv {
    color: #e500ff;
    color: #e500ff;
    background-color: #000;
    margin-bottom: 16px;
    display: none;
    top: auto;
    bottom: 0%;
  }

  .nazeeev {
    justify-content: center;
    font-size: 25.25px;
    display: flex;
  }

  .poznodatek {
    text-align: center;
    font-size: 8.8px;
    font-weight: 800;
    line-height: 12px;
  }

  .hero-image-wrapper {
    max-width: 90%;
    margin-bottom: 22.2px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .button-primary {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-3 {
    left: 0;
  }

  .button-4.is-secondary.is-alternate {
    width: 44.4px;
    background-size: 22px;
  }

  .dropdown-link {
    text-align: center;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .dropdown-wrapper {
    width: 100%;
  }

  .dropdown-pointer {
    opacity: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .nav-content-wrap {
    width: 100%;
    max-width: none;
  }

  .icon-square {
    width: 66px;
    height: 66px;
  }

  .forminputframe {
    max-height: 55.5px;
    min-height: 55.5px;
    border-radius: 12.2px;
  }

  .popup-container {
    width: auto;
    margin-right: 5px;
  }

  .multi-step-form-radio-trigger---brix {
    text-align: left;
    white-space: nowrap;
    padding-left: 60px;
    padding-right: 16px;
    font-size: 16px;
    line-height: 1.5;
  }

  .settings-label-sub.anmxce {
    font-size: .5em;
  }

  .checkbox-button {
    flex: none;
  }

  .settting-header {
    justify-content: center;
  }

  .toast-wrapper {
    min-width: auto;
    flex-direction: column;
    margin: 0;
    position: relative;
    left: 0%;
    right: 0%;
  }

  .profile_label {
    width: auto;
  }

  .profile_row.jakyhomas {
    flex-direction: column;
    display: flex;
  }

  .mainmiddlebox {
    margin-bottom: 10.6px;
    margin-right: 0;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .moresbenzemog {
    z-index: 3333;
    height: 350px;
    margin-bottom: 0;
    position: relative;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .animaaatreex {
    padding-left: 10px;
    padding-right: 10px;
  }

  .jobudetotohlevtypize {
    min-height: 100vh;
    justify-content: flex-start;
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .chcibytangi {
    justify-content: center;
    margin-top: 14px;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
  }

  .blissalepamatujunazacatkyvhmbrt {
    letter-spacing: 1.2px;
    font-size: 19px;
    line-height: 22px;
  }

  .zrer {
    width: 65rem;
    margin-bottom: 16px;
  }

  .fontoutcome {
    margin-left: auto;
    margin-right: auto;
    font-size: 15.5px;
    line-height: 18px;
  }

  .start-wrapper-2 {
    width: 100%;
    height: 94.5px;
    min-height: 94.5px;
  }

  .storace-2 {
    width: 100%;
    flex-direction: row;
    grid-auto-columns: 1fr;
  }

  .faqblock {
    display: none;
  }

  .uploadedsigmaplaylist {
    width: 100%;
    height: 99px;
    justify-content: center;
    margin-top: 100px;
    padding-top: 155px;
  }

  .moresbenzemunl {
    opacity: .89;
    flex-direction: column;
  }

  .fontmelody {
    flex-direction: column;
  }

  .generating {
    margin-top: 12px;
  }

  .sixletx {
    flex-direction: column;
  }

  .navnextbtnext {
    display: none;
  }

  .inputxoutput {
    max-width: none;
    flex-direction: column;
  }

  .mainbuttonblock {
    max-width: 333px;
    min-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#w-node-d277583d-b7f2-42bf-5ab3-b9a6df14a780-5a3e78d5 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-e319d6d5-04d5-4e4c-b416-554f782e33da-5a3e78d5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e8e65bda-e3bc-e7d9-6e16-6ba77ba5dc48-5a3e78d5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-a139b15b-29d5-6b39-4cbd-de85093ee46c-5a3e78d5 {
  align-self: center;
  justify-self: center;
}


@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Free Spirited';
  src: url('../fonts/FreeSpiritedRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Metin 2 Font';
  src: url('../fonts/Metin2Font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Madani Arabic';
  src: url('../fonts/Madani-Arabic-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Madani Arabic';
  src: url('../fonts/Madani-Arabic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Madani Arabic';
  src: url('../fonts/Madani-Arabic-Extra-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Madani Arabic';
  src: url('../fonts/Madani-Arabic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Madani Arabic';
  src: url('../fonts/Madani-Arabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Analgesics';
  src: url('../fonts/analgesics.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gothic War';
  src: url('../fonts/Gothic-War.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}